<!-- ko with: home -->
<div class="jumbotron">
    <h1>SimpleMail</h1>
    <p class="lead">Mail was sent. That was easy! Go again?</p>
    <p><a href="~/email/send" class="btn btn-primary btn-lg">Send Mail &raquo;</a></p>
</div>
<!-- /ko -->